/* Styles de base */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #EFF8FA;
    color: #183446;
}

.navbar {
    background: var(--soft-blue);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 10px 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.lien {
    color: var(--dark-blue);
    text-decoration: none;
    font-size: 1.2rem;
    transition: color 0.3s;
}
.lien:hover {
    color: var(--medium-blue);
}
.logo {
    height: 90px;
    margin-right: 10px;
}

/* Styles du contenu principal */
.content {
    padding: 20px;
    max-width: 1400px;
    height: 70vh;
    margin: 20px auto;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.content h1 {
    color: #046E8F;
    font-size: 30px;
    margin-bottom: 10px;
    padding-top: 37px;
    text-align: center;
}

.content p {
    font-size: 16px;
    line-height: 1.5;
}
.container {
    display: flex;
    justify-content: space-between;
    gap: 20px; /* Espacement entre les cartes */
}
.intro{
    display: flex;
    justify-content: space-between;
    gap: 20px; /* Espacement entre les cartes */    
}
.card {
    width: 370px; /* Largeur fixe */
    height: 320px; /* Hauteur fixe pour créer un carré */
    border: 1px solid #183446;
    border-radius: 10px;
    padding: 20px;
    background-color: #EFF8FA;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card h3 {
    text-align: center;
    color: #183446;
    margin-bottom: 10px;
}

.card p {
    font-size: 20px;
    color: #046E8F;
    text-align: justify;
    flex-grow: 1; /* Permet au texte de remplir l'espace restant */
}
/* Footer */
.footer {
    background-color: var(--soft-blue);
    color: var(--dark-blue);
    padding: 8px;
    line-height: 1.6;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 60px;
}

.footer p {
    margin: 5px 0;
}