
/* Variables pour les couleurs */
:root {
    --dark-blue: #183446;
    --medium-blue: #046E8F;
    --light-blue: #38AECC;
    --lift-blue: #58B7D1;
    --soft-blue: #BCE0EA;
    --ciel-blue: #EFF8FA;
}

/* Général */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--ciel-blue);
    color: var(--dark-blue);
}
.navbar {
    background: var(--ciel-blue);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 10px 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.lien {
    color: var(--dark-blue);
    text-decoration: none;
    font-size: 1.2rem;
    transition: color 0.3s;
}
.lien:hover {
    color: var(--medium-blue);
}
.logo {
    height: 90px;
    margin-right: 10px;
}
/* Conteneur principal */
.container {
    width: 1200px; /* Limite la largeur du contenu */
    margin: 20px auto; /* Centre le conteneur */
    padding: 20px;
}

/* Cartes */
.card {
    background-color: white; /* Fond blanc pour les cartes */
    border-radius: 8px; /* Coins arrondis */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Ombre pour les cartes */
    margin-bottom: 20px; /* Espacement entre les cartes */
}

.card-header {
    background-color: var(--soft-blue);
    padding: 15px;
    border-top-left-radius: 8px; /* Coins arrondis pour le haut */
    border-top-right-radius: 8px; /* Coins arrondis pour le haut */
}

.card-body {
    padding: 15px;
}

/* Titres */
h1 {
    text-align: center;
    color: var(--medium-blue);
}

h2, h3 {
    color: var(--medium-blue);
}

/* Liste des stagiaires */
ul {
    list-style-type: none; /* Supprime les puces */
    padding: 0;
}

ul li {
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px; /* Coins arrondis pour les éléments de la liste */
    transition: background-color 0.3s;
}



/* Bouton de retour */
.button {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 15px;
    background-color: var(--medium-blue);
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.button:hover {
    background-color: var(--light-blue);
}
/* Footer */
.footer {
    background-color: var(--ciel-blue);
    color: var(--dark-blue);
    padding: 8px;
    line-height: 1.6;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 60px;
}

.footer p {
    margin: 5px 0;
}	