/* Variables pour les couleurs */
:root {
    --dark-blue: #183446;
    --medium-blue: #046E8F;
    --light-blue: #38AECC;
    --lift-blue: #58B7D1;
    --soft-blue: #BCE0EA;
    --ciel-blue: #EFF8FA;
}

/* Général */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #d1edf3;
    color: var(--dark-blue);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh; /* Centrer verticalement */
}

/* Titre */
h1 {
    margin-bottom: 20px;
    color: var(--medium-blue);
}

/* Formulaire */
form {
    background-color: var(--soft-blue);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px; /* Largeur fixe pour le formulaire */
}

/* Champs du formulaire */
form input, form textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid var(--medium-blue);
    border-radius: 4px;
    box-sizing: border-box; /* Inclure le padding et la bordure dans la largeur totale */
}

/* Bouton de soumission */
button {
    background-color: var(--medium-blue);
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 100%; /* Prendre toute la largeur du formulaire */
}

button:hover {
    background-color: var(--light-blue);
}

/* Lien de retour */
a {
    margin-top: 20px;
    color: var(--medium-blue);
    text-decoration: none;
    transition: color 0.3s;
}

a:hover {
    color: var(--dark-blue);
}