{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profil de {{ stagiaire.user.prenom }} {{ stagiaire.user.nom }}</title>
    <link rel="stylesheet" href="{% static 'css/profil.css' %}">
</head>
<body>
    <div class="navbar">
        <div><img src="{% static 'images/cni.png' %}" alt="Logo" class="logo"></div>
        <div><a class="lien" href="{% url 'stagiaire_dashboard' %}">Accueil</a></div>
        <div><a class="lien" href="{% url 'les_sujets' %}">Les sujets proposés</a></div>
        <div><a class="lien" href="{% url 'mes_demandes' %}">Mes demandes de stage</a></div>
        <div><a class="lien" href="{% url 'profil_stagiaire' %}">Mon Profil</a></div>
        <div><a class="lien" href="{% url 'deconnexion' %}">Déconnexion</a></div>
    </div>
    <div class="container mt-5">
        <h1 class="text-center">Profil de {{ stagiaire.user.prenom }} {{ stagiaire.user.nom }}</h1>
            <div class="profile text-center">
            <img src="{% if stagiaire.user.photo %}{{ stagiaire.user.photo.url }}{% else %}{% static 'admin_interface/images/admin.png' %}{% endif %}" alt="Photo de profil">
            <p><strong>Nom :</strong> {{ stagiaire.user.nom }}</p>
            <p><strong>Prénom :</strong> {{ stagiaire.user.prenom }}</p>
            <p><strong>Spécialité :</strong> {{ stagiaire.specialite }}</p>
            <p><strong>Email :</strong> {{ stagiaire.user.email }}</p>
            <p><strong>Téléphone :</strong> {{ stagiaire.user.telephone }}</p>
            <p><strong>Encadrant :</strong>
                {% if encadrant %}
                    {{ encadrant.user.prenom }} {{ encadrant.user.nom }}
                {% else %}
                    Pas d'encadrant assigné
                {% endif %}
            </p>
        </div>
        <div class="bttn" class="text-center mt-4">
            <a href="{% url 'modifier_profil_stagiaire' stagiaire.id %}" class="btn btn-primary">Modifier les données</a>
        </div>
    </div>

    <footer class="footer text-center">
        <div class="cont">
            <p>&copy; 2025 Gestion des Stagiaires. Tous droits réservés.</p>
            <p><strong>Centre National de l’Informatique</strong></p>
        </div>
    </footer>
</body>
</html>